# dependencies & logs
/node_modules
logs
*.log


# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# node complaining - not relevant for windows machines pnpm
**/node_modules/@next/swc-!(win32-x64)
