{
    "printWidth": 250,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "endOfLine": "lf",
    "embeddedLanguageFormatting": "auto",
    "singleAttributePerLine": false,
    "overrides": [
        {
            "files": ["*.ts", "*.tsx"],
            "options": {
                "parser": "typescript"
            }
        },
        {
            "files": ["*.css", "*.scss"],
            "options": {
                "singleQuote": false
            }
        },
        {
            "files": ["*.json", "*.jsonc"],
            "options": {
                "parser": "json"
            }
        }
    ]
}
