body {
    background-color: #333333;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 1rem;
    width: 100%;
    margin: auto;
    max-width: 650px;
    text-align: center;
}

.name {
    font-size: 3.5em;
    padding-bottom: 2px;
    line-height: .8em;
    margin: .25em auto;
    white-space: nowrap;
    max-width: fit-content;
    overflow: hidden;
    color: #fff;
    position: relative;
    animation: animated-text 2s steps(30, end) 1s 1 normal both;
}

#cursor {
    border-bottom: solid 4px #fff;
    position: absolute;
    right: 0em;
    width: .5em;
    animation: animated-cursor 1s steps(30, end) infinite;
}

/* text animation */
@keyframes animated-text {
    from {
        width: 0;
    }
    to {
        width: 650px;
    }
}
/* cursor animations */
@keyframes animated-cursor {
    from {
        border-bottom-color: #fff;
    }
    to {
        border-bottom-color: transparent;
    }
}
