.postContainer {
    max-width: 60%;
    margin: 1rem 0;
}

.title,
.description,
.date {
    padding: 0.2rem;
}

.link {
    text-decoration: none;
    color: var(--primary-blue);
    font-weight: 500;
    cursor: pointer;
    float: right;
}
