.postContainer {
    margin: 1rem 0;
}

.title,
.description,
.date {
    padding: 0.2rem 0;
}

.link {
    display: block;
    color: var(--primary-blue);
    font-weight: 500;
    cursor: pointer;
}
