.container {
    margin: auto;
    max-width: 850px;
    padding: 20px;
    font-size: 23px;
    font-weight: 300;
}

.hero {
    width: 100%;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    color: var(--primary-blue);
    padding-bottom: 20px;
}

.howdy {
    font-size: 30px;
    font-weight: 600;
}

.content {
    padding-top: 15px;
}

.lang {
    color: var(--primary-blue);
}

.links {
    width: 100%;
    text-align: center;
}

.linkTitle {
    padding-bottom: 5px;
    font-weight: 700;
}

.agentsLink {
    position: fixed;
    right: 30px;
    bottom: 30px;
    font-size: 16px;
    font-weight: 300;
}

.agentA,
.agentEntsClickHere {
    position: relative;
}

.agentA::after,
.agentEntsClickHere::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.33px;
    width: 102%;
    height: 2px;
    background-color: #ff9f1c;
}
