.container {
  height: 500px;
  width: 750px;
  padding: 20px;
  font-size: 23px;
  font-weight: 300;
}

.hero {
  width: 100%;
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  color: #00a2d6;
  padding-bottom: 20px;
}

.howdy {
  font-size: 30px;
  font-weight: 600;
}

.content {
  padding-top: 15px;
}

.lang {
  color: #00a2d6;
}

.links {
  width: 100%;
  text-align: center;
  padding-top: 25px;
}

.linkTitle {
  padding-bottom: 5px;
  font-weight: 700;
}

.link {
  font-size: 18px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  margin-right: 5px;
}

.blo::after,
.g::after,
.github::after,
.s::after,
.otif::after,
.y::after,
.linkedIn::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -0.33px;
  width: 102%;
  height: 2px;
}

.blo::after {
  width: 25px;
  background-color: #ff6b6b;
}

.g::after {
  width: 1px;
  left: 37px;
  background-color: #ff6b6b;
}

.github::after {
  background-color: #71f27e;
}

.s::after {
  width: 10px;
  background-color: #f3ee77;
}
.otif::after {
  left: 17px;
  width: 29px;
  background-color: #f3ee77;
}
.y::after {
  left: 56px;
  width: 3px;
  background-color: #f3ee77;
}

.linkedIn::after {
  background-color: #00a2d6;
}
