#content {
    background-color: var(--light-bg);
    z-index: 3;
    position: relative;
    margin: auto;
    padding: 50px;
    margin-bottom: 10px;
}

.nav {
    text-align: center;
    margin-bottom: 30px;
}

.nav div {
    text-decoration: none;
    color: var(--text-color-secondary);
    margin: 0  50px 10px 50px;
    display: inline-block;
    border-bottom: 2px solid var(--light-bg);
    cursor: pointer;
}

.nav div:hover {
    border-bottom: 2px solid var(--text-color-secondary);
}


.hidden {
    display: none;
}

.active {
    color: var(--text-color-primary) !important;
    border-bottom: 2px solid var(--text-color-primary) !important;
}