.intro {
    margin-bottom: 50px;
    margin-top: 10px;
    font-weight: 500;
    max-width: 65.75rem;
}

.introTitle {
    color: #00a2d6;
    padding: 20px 0 10px;
}

.blogGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 0;
}

@media (max-width: 768px) {
    .blogGrid {
        grid-template-columns: 1fr;
    }
}
