.intro {
    margin-bottom: 50px;
    margin-top: 10px;
    font-weight: 500;
    max-width: 65.75rem;
}

.link {
    color: var(--primary-blue);
    font-style: italic;
}

.introTitle {
    color: var(--primary-blue);
    padding: 20px 0 10px;
}

.blogGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 0;
}

@media (max-width: 1024px) {
    .intro {
        margin: 0 1rem 0 1rem;
    }
}

@media (max-width: 768px) {
    .blogGrid {
        grid-template-columns: 1fr;
    }
}
